* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  overflow: visible !important;
  background: -webkit-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
  background: -moz-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
  background: -ms-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
  background: -o-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
  background: linear-gradient(45deg, #085078 10%, #85d8ce 90%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2rem;
  text-transform: uppercase;
}
h2 {
  text-shadow: #fff;
}
.quiz-container {
  max-width: 80%;
  max-height: 80%;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.choices-container {
  margin: 2rem 0rem;
}

.choice-btn {
  display: flex;
  font-size: 3rem;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  margin: 1rem;
  border: none;
  padding: 1rem;
  width: 100%;
}

.choice-btn:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.answer-message {
  font-style: italic;
  font-size: 2rem;
}

.start-btn {
  font-size: 1.5rem;
  background-color: rgba(0, 0, 10, 0.3);
  color: #fff;
  padding: 1rem 2rem;
  border: none;
}
.start-btn:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.4rem 1.4rem rgba(53, 0, 145, 0.4);
}

.hide {
  display: none;
}

.correct {
  background-color: green;
  box-shadow: 0 0.4rem 1.4rem rgba(0, 128, 0, 0.5);
}

.incorrect {
  background-color: red;
  box-shadow: 0 0.4rem 1.4rem rgba(255, 0, 0, 0.9);
}

.bold {
  font-weight: bold;
  font-size: 3rem;
}
#time {
  font-size: 1.5rem;
}

.timer {
  color: rgb(240, 6, 6);
  font-size: 2rem;
}
.score-text {
  color: rgb(12, 219, 12);
  font-size: 2rem;
}

.btn {
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 1rem 2rem;
  border: none;
  margin: 0.5rem 0rem;
}
.btn:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0.4rem 1.4rem rgba(53, 0, 145, 0.4);
}
.save-score-container {
  flex-direction: col;
}
#name-input {
  border-radius: 10px;
}
.final-score-text {
  font-size: 2rem;
  text-transform: uppercase;
}
.home-text {
  font-size: 3rem;
  text-transform: uppercase;
}
.home-container {
  display: flex;
  flex-direction: column;
}

.highScoreList {
  margin: 2rem 0rem;
  padding: 0.5rem;
}

.high-score {
  list-style: none;
  font-size: 1.5rem;
}
